$bg-0: #ffffff; // don't forget to change header.html background color
$bg-1: #e3dfec;
$bg-2: #fa1e4e;

$text-0: darken($bg-0, 87%);
$text-1: darken($bg-0, 60%);

$primary-color: #fa1e4e;
$hover-color: white;

:root.light {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #{$primary-color};
  --hover-color: #{$hover-color};

  .social :hover {
    filter: invert(1)
  }
}